 <h1 id="gameTitle">Drunk Box</h1>
 <div class ="gameRow">
   <%= image_tag "pokeballBtn.png", class: "gameIcon"%>
   <%= link_to "Pokemon Drinking Game", games_pkmon_path, class: "menu_btn", id: "pokemon" %>
</div>
